<p id="notice"><%= notice %></p>

<p>
  <strong>Channel user:</strong>
  <%= @message.channel_user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @message.ts %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
