<p id="notice"><%= notice %></p>

<p>
  <strong>Profile image:</strong>
  <img src=<%= @user.profile_image %> alt="" width="" height="" border=""/>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Real name:</strong>
  <%= @user.real_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Is bot:</strong>
  <%= @user.is_bot %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @user.deleted %>
</p>

<p>
  <strong>Slack id:</strong>
  <%= @user.slack_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
