<p id="notice"><%= notice %></p>

<p>
<td><img src=<%= @emoji.url %> alt="" width="" height="" border=""/></td>
</p>
<p>
  <strong>Url:</strong>
  <%= @emoji.url %>
</p>

<%= link_to 'Edit', edit_emoji_path(@emoji) %> |
<%= link_to 'Back', emojis_path %>
