<!DOCTYPE html>
<html>
  <head>
    <title>OrgAnalisis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div>
        <nav>
          <ul>
            <li><%= link_to "User", users_path %></li>
            <li><%= link_to "Channel", channels_path %></li>
            <li><%= link_to "Message", messages_path %></li>
            <li><%= link_to "Emoji", emojis_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
